<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://mani07.s3.jp-tok.cloud-object-storage.appdomain.cloud/about-page.css">
    <title>About</title>
</head>
<body>
    <div class="wrapper">

        <div class="background-container" style="background-color: white; height:100px;">
            <a href="/"style="text-decoration: none;position: absolute; top: 10px; right: 20px; background-color: blue; color: white; padding: 5px 20px; border-radius: 5px;">HOME</a>
            
            
    
        </div>
        <div class="about-container" >
            
               
            <div class="text-container">
             
                <p style="font-size: 20px; margin-top: 50px;"> 
                
<h3><b> IDEA:</b></h3><br>

This application is intended to provide information about containment zones in a particular region by 
alerting people, through continuous monitoring of an individual's location. Key benefits of the application 
are monitoring people's activity and alerting them of their safety movements.
<br>
<br>
<br>

<h3><b>SOLUTION REQUIREMENT:</b></h3><br>
The project aims at building an application that provides information about the containment zones of a 
particular region by continuously monitoring an individual's location. Location of the individual must be 
stored in the Database. Alerts are sent using the notification service. <br><br><br>

<h3><b>Features of the Application:</b></h3><br>

<h3><b>Admin App (portal):</b></h3><br>

They should login to the app and update the containment zones locations in the portal.  
Based on the location a Geofence will be created within a 100 meters radius.  
They should be able to see how many people are visiting that zone.<br><br>

<h3><b>User App (Mobile App):</b></h3><br>

The app should have a user registration and login.  After the user logged into the app it will  track the user's location and update the database with the current location.  If the user is visiting the containment zone he will get an alert notification.
<br>

                </p>                
            </div>
            
        </div>
    </div>
</body>
</html>
