<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: black; height: 100px;">
            <div class="container-fluid">
              <a class="main-logo-img mt-10" href="#" style="text-decoration: none; font-weight:600; color: white;">CONTAINMENT ZONE ALERT APP
                <!-- <a class="navbar-brand" href="index.html">J</a> -->
              </a>
              
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-primary mr-3" id="sponsor" href="/aboutpage">ABOUT</a>
                <a type="button" class="btn btn-primary mr-3" id="donate" href="/adminlogin">ADMIN</a>
				        <a type="button" class="btn btn-primary mr-3" id="donate" href="/userlogin">USER</a>
                <a type="button" class="btn btn-primary mr-3" id="sponsor" href="/contactus">CONTACT US</a>
                
              </div>
            </div>
          </nav>
          <!-- navbar ends -->
          
          <style>
            body {
              background-image: url("../Screenshots/homebg.png");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
            }
            </style>
             
                 
      </div>       
      
  </body>
</html>