<html>
    <head>
        <title>CONTAINMENT ZONE ALERTING APPLICATION</title>
        <link href="../static/success.css" rel="stylesheet"/>
    </head>
    <body>
    
            <div class="bg-1"></div>
      <h1 style="margin-top: -0px;">ADMIN PAGE</h1>
      <ul>
        
         <a href="/"><li style="text-decoration: none;">HOME</li></a>
         <a href="/addremove"><li>UPDATE ZONES</li>  </a>
         <a href="/zone"> <li>VIEW ZONES </li>  </a>
       
        </ul>
    </body>
</html>